<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="darts">
    <meta name="author" content="darts">

    <title>MLateralus projects</title>
	<meta name="description" content="Website created by MLateralus as part of a learning process, and also storage 
	for repositories. You may also find here some mountain climbing pictures and small scripts.">
	<meta name="keywords" content="MLateralus, Michal, IT, programmer, scripts, 
	hiking, mountain climbing, Java, JavaScript, C, Android, Service, student, university">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
	
</head>

<body>
    <!-- Navigation -->
	<div class="box">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
					<a class="navbar-brand" href="index.html">MLateralus</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="projects.html">Projects</a>
						</li>
						<li>
							<a href="asia.html">Asia</a>
						</li>
						<li>
							<a href="contact.html">contact</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</div>
	<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small></small>
                    </h2>
						<h1 class="brand-name">Projects</h1>
                </div>
            </div>
        </div>
	
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About 
                      <!--  <strong>Me</strong>  -->
                    </h2>
                    <hr>	
					<p>
					There are some things I did either as university projects, or for my own purposes, adn some actualy without a strict purpose.
					Most of them can be found on my github page. 
					</p>
					<div id="projects_tab" ng-app="my_projects">
						<div role="tabpanel" ng-controller="tabCtrl">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
									<a data-target="#tab" aria-controls="" role="tab" data-toggle="tab">{{tab.id}}</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="tab">
									<h1>Project: {{tabs[selectedTab].id}}</h1>
									<div id="tab-inner">
									<h3>{{tabs[selectedTab].introduction}}</h3>
									<p>{{tabs[selectedTab].content}}</p>
									<p id ="code">{{tabs[selectedTab].code}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
<div class="codes" style="display:none">
	<div id="packpub">
		<pre>
		class Download {
			
			WebDriver driver = new ChromeDriver();	
			
			void account_log (String clogin, String cpassword) throws InterruptedException {
				driver.get("https://www.packtpub.com/");
				
				/* Recognize viewport */
				List<WebElement> menu_icon = driver.findElements(By.id("menuIcon"));
				if (menu_icon.size() > 0  && menu_icon.get(0).isDisplayed()){
					Thread.sleep(1000);
					menu_icon.get(0).click();
					Thread.sleep(1000);
					List<WebElement> login = driver.findElements(By.className("respoLogin"));
					WebElement log_button = login.get(0);
					log_button.click();
				}
				/* Need to get this work for a wider vieport */
				else if (menu_icon.size() > 0  && !menu_icon.get(0).isDisplayed()){
					Thread.sleep(1000);
					List<WebElement> log_wide = driver.findElements(By.className("float-left"));
					if(log_wide.size() > 0){
						Thread.sleep(1000);
						log_wide.get(2).click();
					}
					else{
						throw new InterruptedException("Viewport not recognized");
					}
				}
				WebElement email = driver.findElement(By.id("email"));
				WebElement pswd = driver.findElement(By.id("password"));
				
				email.sendKeys(clogin);
				pswd.sendKeys(cpassword);
				
				WebElement login_button = driver.findElement(By.id("edit-submit-1"));
				login_button.click();
			}
			
			void download_free_book () throws InterruptedException {

				/* Now we are logged in */
				driver.get("https://www.packtpub.com/packt/offers/free-learning");
				
				List<WebElement> download_book = driver.findElements(By.className("book-claim-token-inner"));
				List<WebElement> title_div = driver.findElements(By.className("dotd-title"));
				WebElement title = title_div.get(0);
				String book_title = title.getAttribute("innerHTML");
				book_title = "Todays book is " + book_title.substring((book_title.indexOf("<h2>") + "<h2>".length()), book_title.indexOf("</h2>"));
				System.out.println(download_book);
				download_book.get(0).click();
				
				driver.close();
				JOptionPane.showMessageDialog(new JFrame(), book_title, "Dialog",
				JOptionPane.INFORMATION_MESSAGE);
			}
		}

		public class Book {
			
			public static void main(String[] args) throws InterruptedException, IOException {
				
				String credentials = new String(Files.readAllBytes(Paths.get(System.getProperty("user.dir") + "\\" + "Credentials.txt")));
				String clogin = credentials.substring(credentials.indexOf("login:") + "login:".length(),credentials.indexOf("password"));
				String cpassword = credentials.substring(credentials.indexOf("password:") + "password:".length(),credentials.indexOf("location"));
				String clocation = credentials.substring(credentials.indexOf("location:") + "location:".length(),credentials.length());
				System.out.println(clogin);
				System.out.println(cpassword);
				System.out.println(clocation);
				
				System.setProperty("webdriver.chrome.driver", clocation);
				Download obj = new Download();
				obj.account_log(clogin,cpassword);
				obj.download_free_book();	


			}
		}
		</pre>
	</div>
</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	
	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- Angular tabs -->
	<script src="js/app.js"></script>
	
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-80715730-1', 'auto');
	  ga('send', 'pageview');
	</script>
	
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
