<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="darts">
    <meta name="author" content="darts">

    <title>MLateralus projects</title>
	<meta name="description" content="Website created by MLateralus as part of a learning process, and also storage 
	for repositories. You may also find here some mountain climbing pictures and small scripts.">
	<meta name="keywords" content="MLateralus, Michal, IT, programmer, scripts, 
	hiking, mountain climbing, Java, JavaScript, C, Android, Service, student, university">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
	
	<!-- rainbow syntax highlighter -->
	<link href="css/rainbow-min.css" rel="stylesheet" type="text/css">
	
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
	
</head>

<body>
    <!-- Navigation -->
	<div class="box">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
					<a class="navbar-brand" href="index.html">MLateralus</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="projects.html">Projects</a>
						</li>
						<li>
							<a href="asia.html">Asia</a>
						</li>
						<li>
							<a href="contact.html">contact</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</div>
	<div class="container">	
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Projects
                      <!--  <strong>Me</strong>  -->
                    </h2>
                    <hr>	
					<p>
					There are some things I did either as university projects, or for my own purposes, adn some actualy without a strict purpose.
					Most of them can be found on my github page. 
					</p>
					<div id="projects_tab" ng-app="my_projects">
						<div role="tabpanel" ng-controller="tabCtrl">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
									<a data-target="#tab" aria-controls="" role="tab" data-toggle="tab">{{tab.id}}</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="tab">
									<h1>Project: {{tabs[selectedTab].id}}</h1>
									<div id="tab-inner">
									<p>{{tabs[selectedTab].introduction}}</p>
									<p>{{tabs[selectedTab].content}}</p>
									<p id="my-code"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
<div class="codes" style="display:none">
   <div id="packtpub">
      <pre><code data-language="Java">
	WebDriver driver = new ChromeDriver();
	void account_log (String clogin, String cpassword) throws InterruptedException {
		driver.get("https://www.packtpub.com/");

		/* Recognize viewport */
		List<WebElement> menu_icon = driver.findElements(By.id("menuIcon"));
		if (menu_icon.size() > 0  && menu_icon.get(0).isDisplayed()){
			menu_icon.get(0).click();
			Thread.sleep(1000);
			List<WebElement> login = driver.findElements(By.className("respoLogin"));
			WebElement log_button = login.get(0);
			log_button.click();
		}
		/* Need to get this work for a wider vieport */
		else if (menu_icon.size() > 0  && !menu_icon.get(0).isDisplayed()){
			List<WebElement> log_wide = driver.findElements(By.className("float-left"));
			if(log_wide.size() > 0){
				Thread.sleep(1000);
				log_wide.get(2).click();
			}
			else{
				throw new InterruptedException("Viewport not recognized");
			}
		}
		WebElement email = driver.findElement(By.id("email"));
		WebElement pswd = driver.findElement(By.id("password"));
		
		email.sendKeys(clogin);
		pswd.sendKeys(cpassword);
		
		WebElement login_button = driver.findElement(By.id("edit-submit-1"));
		login_button.click();
	}
</code></pre>
      <p> I choose chrome driver because its the one im most familiar with. Recognizing viewport is important, because depending on the screen width, different elements are present on screen, and so different elements with different id's
      </p>
      <pre><code data-language="Java">
	void download_free_book () throws InterruptedException {

		/* Now we are logged in */
		driver.get("https://www.packtpub.com/packt/offers/free-learning");
		
		List<WebElement> download_book = driver.findElements(By.className("book-claim-token-inner"));
		List<WebElement> title_div = driver.findElements(By.className("dotd-title"));
		WebElement title = title_div.get(0);
		String book_title = title.getAttribute("innerHTML");
		book_title = "Todays book is " + book_title.substring((book_title.indexOf("<h2>") + "<h2>".length()), book_title.indexOf("</h2>"));
		System.out.println(download_book);
		download_book.get(0).click();
		
		driver.close();
		JOptionPane.showMessageDialog(new JFrame(), book_title, "Dialog",
		JOptionPane.INFORMATION_MESSAGE);
	}
}
</code></pre>
      <p> Packtpub service offers free book of the day for registered users. This piece of code proceeds after you log in, and saves the book of the day for you.
      </p>
      <pre><code data-language="Java">
public class Book {	
	public static void main(String[] args) throws InterruptedException, IOException {
		
		String credentials = new String(Files.readAllBytes(Paths.get(System.getProperty("user.dir") + "\\" + "Credentials.txt")));
		String clogin = credentials.substring(credentials.indexOf("login:") + "login:".length(),credentials.indexOf("password"));
		String cpassword = credentials.substring(credentials.indexOf("password:") + "password:".length(),credentials.indexOf("location"));
		String clocation = credentials.substring(credentials.indexOf("location:") + "location:".length(),credentials.length());
		
		System.setProperty("webdriver.chrome.driver", clocation);
		Download obj = new Download();
		obj.account_log(clogin,cpassword);
		obj.download_free_book();	
	}
}			
</code></pre>
      <p>Now all left to do is to initialize the whole thing with credentials! </p>
      <p>Note: The dialog box takes time show up in desktop for unkown reasons, maybe some memory cleaning or some action is working in background longer than expected.</p>
   </div>
   <div id="embed-clock">
      <br>Main file contains of only initializing the whole thing and the infinite while loop to have the programm working
      <br>
      <pre>
		  				<code data-language="C">
uint8_t minutes;
uint8_t seconds;
uint8_t start_counting;
			
int main(void) {
	
    lcd_init();
    buttons_init();
    tpm_init();
		rtc_init();
		SystemCoreClockUpdate();
    time_reset(&minutes,&seconds);
	
	   while (1);
    };
</code>
</pre>
      <br>
      <div id="uButtons"></div>
      <br> Here is the buttons functionality. Button are placed as two pins [SW1_PIN] and [SW3_PIN]<br>
      <br>
      <pre>
		  		  <code data-language="C">
void buttons_init()
{
    /* Enable port clocks */
    SIM->SCGC5 |=  SIM_SCGC5_PORTC_MASK;
		SIM->SCGC5 |=  SIM_SCGC5_PORTE_MASK;

    /* Configure pin as GPIO */
    PORTC->PCR[SW1_PIN] |= PORT_PCR_MUX(1);
    PORTC->PCR[SW3_PIN] |= PORT_PCR_MUX(1);
    /* Enable internal pullup resistor */
    PORTC->PCR[SW1_PIN] |= PORT_PCR_PE_MASK | PORT_PCR_PS_MASK;
    PORTC->PCR[SW3_PIN] |= PORT_PCR_PE_MASK | PORT_PCR_PS_MASK;
	
    /* Interrupt on falling edge */
    PORTC->PCR[SW1_PIN] |= PORT_PCR_IRQC(0x0A);
    PORTC->PCR[SW3_PIN] |= PORT_PCR_IRQC(0x0A);

    /* Enable IRQ */
    NVIC_ClearPendingIRQ(PORTC_PORTD_IRQn);
    NVIC_EnableIRQ(PORTC_PORTD_IRQn);
    NVIC_SetPriority(PORTC_PORTD_IRQn, 1);
}

void PORTC_PORTD_IRQHandler()
{
    /* Interrupt on SW1 detected */
    if (PORTC->PCR[SW1_PIN] & PORT_PCR_ISF_MASK) {
			
			  time_counting(&minutes, &seconds, 1);
        lcd_displaytime(minutes, seconds);
        /* Clear */
        PORTC->PCR[SW1_PIN] |= PORT_PCR_ISF_MASK;
    }
		/* Interrupt on SW3 detected */
	  if (PORTC->PCR[SW3_PIN] & PORT_PCR_ISF_MASK) {
			  time_counting(&minutes,&seconds, 60);
        lcd_displaytime(minutes,seconds);
        /* Clear */
        PORTC->PCR[SW3_PIN] |= PORT_PCR_ISF_MASK;
    }
	}
</code>
</pre>
      <div id="uLCD"></div>
      <br>
      <br>LCD Display file was created with a lot help from the university files, as it is a little complex. Here the code is cut a little to maintain the readibility. <br>
      <pre>
		  		  <code data-language="C">
const static uint8_t LCD_Frontplane_Pin[LCD_NUM_FRONTPLANE_PINS] = {
    LCD_FRONTPLANE0, LCD_FRONTPLANE1, LCD_FRONTPLANE2, LCD_FRONTPLANE3,
    LCD_FRONTPLANE4, LCD_FRONTPLANE5, LCD_FRONTPLANE6, LCD_FRONTPLANE7
};

void lcd_init(void)
{
    SIM->SCGC5 |= SIM_SCGC5_PORTB_MASK |
        SIM_SCGC5_PORTC_MASK |
        SIM_SCGC5_PORTD_MASK |
        SIM_SCGC5_PORTE_MASK |
        SIM_SCGC5_SLCD_MASK;

    LCD->GCR |= LCD_GCR_PADSAFE_MASK;
    LCD->GCR &= ~LCD_GCR_LCDEN_MASK;

    PORTB->PCR[7] = PORT_PCR_MUX(0);
	.
	.
	.
	.
    PORTE->PCR[5] = PORT_PCR_MUX(0);

    LCD->GCR = LCD_GCR_RVTRIM(0x00) |
        LCD_GCR_CPSEL_MASK |
        LCD_GCR_LADJ(0x03) |
        LCD_GCR_VSUPPLY_MASK |
        LCD_GCR_ALTDIV(0x00) |
        LCD_GCR_SOURCE_MASK |
        LCD_GCR_LCLK(0x01) |
        LCD_GCR_DUTY(0x03);

    LCD->AR = LCD_AR_BRATE(0x00);
    LCD->FDCR = 0x00000000;

    LCD->PEN[0] = LCD_PEN_PEN(1u<<7u) |
        LCD_PEN_PEN(1u<<8u) |
        LCD_PEN_PEN(1u<<10u) |
        LCD_PEN_PEN(1u<<11u) |
        LCD_PEN_PEN(1u<<17u) |
        LCD_PEN_PEN(1u<<18u) |
        LCD_PEN_PEN(1u<<19u);

    LCD->PEN[1] = LCD_PEN_PEN(1u<<5u) |
        LCD_PEN_PEN(1u<<6u) |
        LCD_PEN_PEN(1u<<8u) |
        LCD_PEN_PEN(1u<<20u) |
        LCD_PEN_PEN(1u<<21u);
    LCD->BPEN[0] = LCD_BPEN_BPEN(1u<<18u) |
        LCD_BPEN_BPEN(1u<<19u);
    LCD->BPEN[1] = LCD_BPEN_BPEN(1u<<8u) |
        LCD_BPEN_BPEN(1u<<20u);
    LCD->WF[0] = LCD_WF_WF0(0x00) |
        LCD_WF_WF1(0x00) |
        LCD_WF_WF2(0x00) |
        LCD_WF_WF3(0x00);
    .
	.
	.
	.
	
    LCD->WF[15] = LCD_WF_WF60(0x00) |
        LCD_WF_WF61(0x00) |
        LCD_WF_WF62(0x00) |
        LCD_WF_WF63(0x00);

    LCD->GCR &= ~LCD_GCR_PADSAFE_MASK;
    LCD->GCR |= LCD_GCR_LCDEN_MASK;
}

void SegLCD_Set(uint8_t Value,uint8_t Digit)
{
    if (Digit > 4) {
        SegLCD_DisplayError(0x01);
    }
    else {
        switch (Value) {
        case 0x00:
            LCD->WF8B[LCD_Frontplane_Pin[((2*Digit)-2)]] =
                (LCD_SEG_D | LCD_SEG_E |LCD_SEG_F);
            LCD->WF8B[LCD_Frontplane_Pin[((2*Digit)-1)]] =
                (LCD_SEG_A | LCD_SEG_B | LCD_SEG_C);
            break;
       .
	   .
	   .
	   .
        case 0x0F:
            LCD->WF8B[LCD_Frontplane_Pin[((2*Digit)-2)]] =
                (LCD_SEG_E | LCD_SEG_F | LCD_SEG_G);
            LCD->WF8B[LCD_Frontplane_Pin[((2*Digit)-1)]] =
                LCD_SEG_A;
            break;
        }
    }
}

void lcd_displaytime(uint8_t Value1, uint8_t Value2)
{
    if ((Value1 > 99) | (Value2 > 99)) {
        SegLCD_DisplayError(0x10);
    }
    else {
        SegLCD_Set(Value1/10, 1);
        SegLCD_Set(Value1 % 10, 2);
        SegLCD_Set(Value2/10, 3);
        SegLCD_Set(Value2 % 10, 4);
        SegLCD_Col_On();
    }
}

void SegLCD_DisplayError(uint8_t ErrorNum)
{
    LCD->WF8B[LCD_FRONTPLANE0] = (LCD_SEG_D | LCD_SEG_E | LCD_SEG_F | LCD_SEG_G);
    LCD->WF8B[LCD_FRONTPLANE1] = (LCD_SEG_A);
    LCD->WF8B[LCD_FRONTPLANE2] = (LCD_SEG_E | LCD_SEG_G);
    LCD->WF8B[LCD_FRONTPLANE3] = (LCD_CLEAR);
    LCD->WF8B[LCD_FRONTPLANE4] = (LCD_SEG_E | LCD_SEG_G);
    LCD->WF8B[LCD_FRONTPLANE5] = (LCD_CLEAR);
    if (ErrorNum < 0x10) {
        SegLCD_Set(ErrorNum,4);
    }
    else {
        LCD->WF8B[LCD_FRONTPLANE6] = (LCD_CLEAR);
        LCD->WF8B[LCD_FRONTPLANE7] = (LCD_CLEAR);
    }
}
</code>
</pre>
      <div id="uRTC"></div>
      <br>
      <br>Now, real time clock is the thing here. We even added the flashing dots to visualise the real clock <br>
      <pre>
		  		  <code data-language="C">
int rtc_count = 0;

void rtc_init()
{
    /* Clock for rtc */
    SIM->SCGC6 |= SIM_SCGC6_RTC_MASK;

    /* Ensure PTC1 is configured as RTC input clock */
    PORTC->PCR[1] &= ~PORT_PCR_MUX_MASK;
    PORTC->PCR[1] = PORT_PCR_MUX(1);

    /* Clear the OSC32KSEL field to select osc */
    SIM->SOPT1 &= ~SIM_SOPT1_OSC32KSEL_MASK;
	
    /* RTC_CLKIN selected as the ERCLK32K */
    SIM->SOPT1 |= SIM_SOPT1_OSC32KSEL(2);

    /* Set the oscillator enable bit */
    OSC0->CR |= OSC_CR_ERCLKEN_MASK;
	
    /* Clear any pending itnerupts */
    NVIC_ClearPendingIRQ(RTC_Seconds_IRQn);
    NVIC_EnableIRQ(RTC_Seconds_IRQn);
    NVIC_SetPriority(RTC_Seconds_IRQn, 2);

    /* Time seconds interrupt enable */
    RTC->IER |= RTC_IER_TSIE_MASK;
		
    RTC->TSR =  0;							// time counter enable
    RTC->SR |= RTC_SR_TCE_MASK;
}

void RTC_Seconds_IRQHandler()
{
				if(++rtc_count == 59){
					time_counting(&minutes,&seconds ,1);
					lcd_displaytime(minutes,seconds);
					rtc_count = 0;
} 
				if(rtc_count%2==0)						// flashing of dots between hours and minutes
				{   				
				SegLCD_Col_On();
				} 
				else			
					SegLCD_Col_Off();
}
</code>
</pre>
      <div id="uTimer"></div>
      <br>
      <br>Timer is designed to be the most global it could be, so that in case of any changes it is still reliable<br>
      <pre>
		  		  <code data-language="C">
void time_counting(uint8_t *min, uint8_t *sec, uint8_t val)
{
		
    uint8_t m_i = (*sec+val)/60;
		*min = (*min+m_i)%24;
    *sec = (*sec+val)%60;
}


void time_reset(uint8_t *seconds, uint8_t *minutes)
{
    *minutes = 0;
    *seconds = 0;
}

</code>
</pre>
      <div id="uBoard"></div>
      <br>
	  <p> Full project with all Keil uVision dependencies can be found on my github page here:
	  <a href='https://github.com/MLateralus/Embedded_ARM'> MLateralus Embedded_ARM</a>
	  </p>
      <br>Board:<br>
      MKL46Z256VLL4MCU – 48 MHz<br>256 KB flash, <br>32 KB SRAM, <br>segment LCD, USB OTG (FS) <br>
      Capacitive touch slider,<br> MMA8451Q accelerometer,<br> MAG3110 magnetometer
      <br>Flexible power supply options – USB<br>
      OpenSDA debug interface
      <br>Mass storage device flash programming interface (default)
      <br>
      <br>		  You can read more here:
      <a href="http://www.nxp.com/products/software-and-tools/hardware-development-tools/freedom-development-boards/freedom-development-platform-for-kinetis-kl3x-and-kl4x-mcus:FRDM-KL46Z?" style="color: #000000">LINK</a>
      <br>

   </div>
   
  <div id = "curr-follow">
  This project was about playing a little with Java parser. I called it a Currency Follower, beause it actualy follows current currency values and compare them with values in the beginign of the month. 
		  The data is then compared to present currency rises / falls. Initialy I also implemented Log4j in order to get the raw data and then print a graphical representation of it, but due to a deadline it has never been implemented here.
          Application has been written in Java language with the use of Eclipse studio
		  Below you may see the code snipset along with the documentation and demo sample.
		  <br>Main extensions used are: Swing, Jsoup and jframe.
		  <br> All the necessary imports:
		  <pre><code data-language="Java">
import java.awt.Component;
import java.awt.ComponentOrientation;
import java.awt.Font;
import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;
import java.awt.event.KeyEvent;
import java.awt.event.KeyListener;
import java.io.IOException;
import java.text.SimpleDateFormat;
import java.util.Date;
import javax.swing.JButton;
import javax.swing.JFrame;
import javax.swing.JPanel;
import javax.swing.JTextArea;
import org.jsoup.Jsoup;
import org.jsoup.nodes.Document;
import org.jsoup.nodes.Element;
import org.jsoup.select.Elements;
</code>
</pre>
<br> Main class contains mostly declarations of visible elements. I decided to use JFrame because it is easy to use. Although it does not provide highly customizable content, it is enough for this purpose
<br><pre><code data-language="Java">
public class Javs
extends JFrame {
    JButton Button0;
    JPanel display;
    JPanel MyPanel;
    JTextArea t;
    JTextArea z;
    JTextArea q;
    public static String Strin;
    public static String Strin2;

public Javs() {
	this.makeUI();
}

private void makeUI() {
	this.setDefaultCloseOperation(3);
	this.setSize(780, 700);
	this.Button0 = new JButton("Get data!");
	this.t = new JTextArea(30, 30);
	this.z = new JTextArea(30, 30);
	this.q = new JTextArea(5, 5);
	this.t.setEditable(false);
	this.z.setEditable(false);
	this.q.setEditable(false);
	this.t.applyComponentOrientation(ComponentOrientation.RIGHT_TO_LEFT);
	this.z.applyComponentOrientation(ComponentOrientation.RIGHT_TO_LEFT);
	this.MyPanel = new JPanel();
	this.display = new JPanel();
	Font font = new Font("Verdana", 1, 12);
	this.t.setFont(font);
	this.z.setFont(font);
	this.q.setFont(font);
	this.display.add(this.t);
	this.display.add(this.z);
	this.MyPanel.add(this.Button0);
	this.add((Component)this.display, "West");
	this.add((Component)this.MyPanel, "Center");
	this.add((Component)this.Button0, "North");
	this.add((Component)this.q, "South");
	this.t.addKeyListener((KeyListener)new /* Unavailable Anonymous Inner Class!! */);
	this.Button0.addActionListener((ActionListener)new /* Unavailable Anonymous Inner Class!! */);
}
</code>
</pre>
<br> Next I define listener on a button that starts the action. Once the button is pressed, program clears the previous values and loads new from the given website.
<pre><code data-language="Java">
void typeOnt(KeyEvent e) {
	e.consume();
}

void Button0pressed(ActionEvent e) {
	this.t.setText(null);
	this.z.setText(null);
	this.q.setText(null);
try {
	Elements tds;
	Document doc = Jsoup.connect((String)"http://www.nbp.pl/******* security constains *******").get();
	Document doc2 = Jsoup.connect((String)"http://www.nbp.pl/******* security constrains *******").get();
	String title = doc.title();
	SimpleDateFormat dateFormat = new SimpleDateFormat("yyyy/MM/dd HH:mm:ss");
	Date date = new Date();
	this.t.setText(String.valueOf(this.t.getText()) + title + "\n");
	this.t.setText(String.valueOf(this.t.getText()) + "Data from : " + dateFormat.format(date) + "\n");
	this.z.setText(String.valueOf(this.z.getText()) + "Currencies : " + "\n");
	this.z.setText(String.valueOf(this.z.getText()) + "Data from : 2015/06/01" + "\n");
	for (Element table22 : doc.select("table[width=361]")) {
		for (Element row : table22.select("tr")) {
			tds = row.select("td");
			if (tds.size() <= 2) continue;
			this.t.setText(String.valueOf(this.t.getText()) + ((Element)tds.get(0)).text() + ":" + ((Element)tds.get(1)).text() + ":" + ((Element)tds.get(2)).text() + "\n");
		}
	}
	</code>
</pre>
<br> Here the fun begins. Back then when I was starting to play with Java i used to love nested loops. First it came out with a tedious performance but at a time I had no better idea.
<br> None the less, the for loops are sued as selectors to query data from tables on the page. Then the program compares each values with each and presents the result in the box below
<br>
<pre><code data-language="Java">

for (Element table22 : doc2.select("table[width=386]")) {
	for (Element row : table22.select("tr")) {
		tds = row.select("td");
		if (tds.size() <= 2) continue;
		this.z.setText(String.valueOf(this.z.getText()) + ((Element)tds.get(0)).text() + ":" + ((Element)tds.get(1)).text() + ":" + ((Element)tds.get(2)).text() + "\n");
	}
}
for (Element table22 : doc.select("table[width=361]")) {
	for (Element table1 : doc2.select("table[width=386]")) {
		for (Element row1 : table1.select("tr")) {
			Elements tds1 = row1.select("td");
			for (Element row : table22.select("tr")) {
				float Value2;
				Elements tds2 = row.select("td");
				if (tds1.size() <= 2 || tds2.size() <= 2) continue;
				Strin = ((Element)tds2.get(2)).text();
				Strin = Strin.toString();
				Strin = Strin.replaceAll(",", ".");
				Strin2 = ((Element)tds1.get(2)).text();
				Strin2 = Strin2.toString();
				Strin2 = Strin2.replaceAll(",", ".");
				float Value1 = Float.parseFloat(Strin);
				if (Value1 > (Value2 = Float.parseFloat(Strin2))) {
					this.q.setText("Value of : " + ((Element)tds2.get(0)).text() + " raised !");
					continue;
				}
				this.q.setText("Value of : " + ((Element)tds2.get(0)).text() + " fallen ");
			}
		}
	}

catch (IOException a) {
	a.printStackTrace();
}


public static void main(String[] args) {
	new Javs().setVisible(true);
}
</code>
		</pre>
		</div>
	
  </div>
</div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; MLateralus 2016</p>
                </div>
            </div>
        </div>
    </footer>
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	
	<!-- Rainbow syntax highlighter -->
	<script src="js/rainbow-custom.min.js"></script>
	<script src="js/rainbow-c.js"></script>
	<script src="js/rainbow-java.js"></script>
	<script src="js/rainbow-javascript.js"></script>
	
	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- Angular tabs -->
	<script src="js/app.js"></script>
	
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-80715730-1', 'auto');
	  ga('send', 'pageview');
	</script>
	
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
